
/**
 * objet js paires clés valeurs contenant :
 * les informations de connexion à la BDD
 * et la clé secrète permettant de crypter le json webtoken
 */
 module.exports = {
    user: "", // MongoDB User
    pass: "", // MongoDB Password
    host: "", // MongoDB Hostname
    base: "", // MongoDB Database
    // https://phpsolved.com/phpmyadmin-blowfish-secret-generator/
    secret: "", // Secret Key for jwt
    origins: ["http://localhost:8081", "http://127.0.0.1:8081"], // Allowed origins
};
